.result-data {
    position: absolute;
    width: 1251px;
    height: 400px;
    left: 0px;
    top: 0px;
    background: #F5F5F5;
    border-radius: 8px;
    margin-top: 440px;
    margin-left: 90px;
    margin-bottom: 73px;
}

.result-image {
    position: absolute;
    width: 278px;
    height: 268px;
    background: #DEDEDE;
    border-radius: 8px;
    padding-top: 24px;
    padding-left: 30px;
    margin-left: 30px;
    margin-top: 24px;
    margin-right: 54px;
}

.result-user-data {
    position: absolute;
    width: 846px;
    height: 260px;
    background: #DEDEDE;
    border-radius: 8px;
    margin-top: 462px;
    margin-left: 452px;
    padding-top: 24px;
}

.result-btn {
    margin-top: 320px;
    padding-top: 1px;
}