.btn-start {
    position: absolute;
    width: 120px;
    height: 45px;
    top: 595px;
    background: #1890FF;
    margin-top: 48px;
    margin-bottom: 265px;
    margin-right: 1219px;
    margin-left: 4px;
    border-radius: 6px;
}

.btn-text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding-bottom: 20px;
}