.btn-start {
    width: 140px;
    height: 45px;
    background: #1890FF;
    border-radius: 4px;
    margin-top: 24px;
    margin-left: 100px;
    padding: 8px 8px 8px 8px;
}

.btn-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 0px;
    padding-left: 30px;
    padding-bottom: 26px;
    text-decoration: none;
    cursor: pointer;
}