.search-container {
    background: #E5E5E5;
    margin-top: 54px;
    padding-bottom: 24px;
}

.search-content {
    margin-top: 116px;
    margin-left: 90px;
    position: absolute;
    width: 1251px;
    height: 270px;
    left: 0px;
    top: 0px;
    background: #E6F7FF;
    border-radius: 16px;
}

.search-title {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    margin-top: 66px;
    margin-left: 99px;
}

.search-form {
    width: 676px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 99px;
    margin-top: 124px;
    padding-bottom: 40px;
    display: block;
    align-items: center;
    justify-content: center;
}

.search-text {
    display: block;
    width: 632px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    padding: 8px 17px 8px 24px;
}

.result-data {
    position: absolute;
    width: 1251px;
    height: 400px;
    left: 0px;
    top: 0px;
    background: #F5F5F5;
    border-radius: 8px;
    margin-top: 440px;
    margin-left: 90px;
    margin-bottom: 73px;
}

.result-image {
    position: absolute;
    width: 278px;
    height: 268px;
    background: #DEDEDE;
    border-radius: 8px;
    padding-top: 24px;
    padding-left: 30px;
    margin-left: 30px;
    margin-top: 24px;
    margin-right: 54px;
}

.result-user-data {
    position: absolute;
    width: 846px;
    height: 260px;
    background: #DEDEDE;
    border-radius: 8px;
    margin-top: 462px;
    margin-left: 452px;
    padding-top: 24px;
}

.result-btn {
    margin-top: 320px;
    padding-top: 1px;
}